.body{
  margin: 0;
  padding: 0;
}
p{
  width: 300px;
  margin-left: 60px;
  margin-top: 5px;
  padding: 5px;
  font-style: italic;
  font-family: cursive;
  background: hsla(30, 100%, 50%, .1);
}
.border{
  border-color: black;
  border: 3px;
}
